body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px 0 20px 100px;
}

.navLeft {
    padding-left: 0px;
    display: flex;
}

.navRight {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.navRight a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.navLeft span {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.top {

    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;

}

.top-left {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;

}

.top-right img {
    width: 500px;
}

.row {
    align-items: center;
    
}

.col{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.col h1{
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    font-family: 'Roboto', arial;
}

.item{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 250px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote b {
    text-align: right;
}

.signup {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.signup p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.sign-left {
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 5px;
}

.sign-right{
    padding-left: 700px;
}

.sign-left p{
    color: #FFFFFF;
    padding-top: 20px;
}

.sign-right button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.top-left button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}


.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 30px 30px;
    align-items: center;

}